.user {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    justify-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.username {
    font-weight: 700;
    font-size: 16px;
}

.editButton:hover {
    cursor: pointer;
    color: #525252;
}

.deleteButton:hover {
    color: red;
    cursor: pointer;
}

.updateButton {
    background-color: greenyellow;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

.updateButton:hover {
    background-color: #89c236;
    cursor: pointer;
}

.updateButton:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.updateInput {
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}