.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 20px;
}

.header {
    background-color: #035E7B;
    color: #FFF;
    padding: 2.5rem;
    text-align: center;
}

.userListHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
}

.sortButtons {
    display: flex;
    align-items: center;
}

.sortButton {
    padding: 2px 4px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 5px;
    margin-left: 2px;
}

